# RPC URLs
ETHEREUM_RPC_URL=
BNB_RPC_URL=
POLYGON_RPC_URL=
SECURECHAIN_RPC_URL=

# Deployment wallet
PRIVATE_KEY=

# Block explorer API keys
ETHERSCAN_API_KEY=
POLYGONSCAN_API_KEY=
BSCSCAN_API_KEY=

# Database
DATABASE_URL=
